<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Godot Engine">
    <meta name="description" content="View the current completion status of the Godot class reference online.">
    <meta name="theme-color" content="#3d8fcc">
    <title>{{ .Site.Title }}</title>
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="main.css">
    <script src="sorttable.js"></script>
  </head>
  <body>
    {{ .Content }}
  </body>
</html>
